* {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#Form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: none;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#userInputName {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Container for password input and icon */
.password-container {
    position: relative;
    width: calc(100% - 20px); /* Match width of other inputs */
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#userPasswordInput {
    width: 100%; /* Make input fill its container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding-right: 40px; /* Space for the icon */
}

/* Style for the eye icon */
#togglePassword{
    position: absolute;
    right: 10px; /* Position from the right */
    top: 50%;
    transform: translateY(50%); /* Vertically center the icon */
    cursor: pointer;
    color: #777; /* Icon color */
    font-size: 1.2em; /* Adjust icon size */
    z-index: 10; /* Ensure icon is above input */
}

#submitButton {
    width: 60%;
    padding: 10px;
    background-color: #318183;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 65px;
}